visited.dat

images/a/*
images/b/*
images/c/*
images/d/*
images/e/*
images/f/*
images/g/*
images/h/*
images/i/*
images/j/*
images/k/*
images/l/*
images/m/*
images/n/*
images/o/*
images/p/*
images/q/*
images/r/*
images/s/*
images/t/*
images/u/*
images/v/*
images/w/*
images/x/*
images/y/*
images/z/*
images/1/*
images/2/*
images/3/*
images/4/*
images/5/*
images/6/*
images/7/*
images/8/*
images/9/*
images/0/*
images/\_/*
images/()/*
